{% extends "profiles/base.jinja2" %}

{% load i18n %}

{% block title %}
    {% translate 'Сброс пароля' %}
{% endblock %}

{% block content %}
    <h1>{% translate 'Укажите новый пароль' %}</h1>
    {% if validlink %}
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">{% translate 'Восстановление пароля (2/2)' %}</h3>
                <h5>{% translate 'Придумайте новый пароль для учетной записи' %}</h5>
            </div>

            <form action="." method="post">
                {% csrf_token %}
                <div>
                    {{ form.new_password1.errors }}
                    <input type="password" name="new_password1" id="name" placeholder="{% translate 'Новый пароль' %}" />
                </div>
                <div>
                    {{ form.new_password2.errors }}
                    <input type="password" name="new_password2" id="name" placeholder="{% translate 'Повторите пароль' %}" />
                </div>
                <div>
                    <input type="submit" value="{% translate 'Сохранить пароль' %}" />
                </div>
            </form>

        </div>
    {% else %}
        <p>{% translate 'Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.
            Пожалуйста, запросите новый сброс пароля.' %}</p>
    {% endif %}
{% endblock %}
