{% extends "profiles/base.jinja2" %}

{% load i18n %}

{% block title %}
    {% translate 'Инструкция восстановление пароля' %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
    <h1>{% translate 'Проверьте входящие письма электронной почты!' %}</h1>
    <p>{% translate 'Мы отправили инструкцию по восстановлению пароля на указанный email.' %}</p>
    <p>{% translate 'Вы должны получить письмо в ближайшее время!' %}</p>

{% endblock %}
